body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

#loginBox {
    background-color: red;
    padding: 1,5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
}

.hidden {
    display: none;
}